run = "python manage_sniffer.py migrate --run-syncdb && python manage_sniffer.py runserver 0.0.0.0:8000"

entrypoint = "manage_sniffer.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python manage_sniffer.py migrate --run-syncdb && python manage_sniffer.py runserver 0.0.0.0:8000"]
deploymentTarget = "gce"

[[ports]]
localPort = 8000
externalPort = 80

[agent]
expertMode = true
